.navbar {
    /* background-color: #87CEFA */
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 0px;
      margin: 0px
  }

  .navbar-brand1  {
      color: #ffffff;
      font-size: 22px;
      text-decoration: none !important
  }

  .navbar-brand1:hover  {
    color: #ffffff !important;
}

  .navbar-nav li :any-link {
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 500;
    float: right;
    margin-right: 20px
  }

  .navbar-toggler {
      outline: none !important
  }

  .fa-bars {
    color: #ffffff !important;
    font-size: 30px
  } 

  .footer {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    position: relative;
    top: 100%;
    right: 0%;
    left: 0%
  }

  

p{
  font-size: 14px !important  
}

input{
    font-size: 13px !important  
}



/* .footer {
  position: absolute;
  background: red !important;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 100px
} */



  



  